################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModelViewerEditor/DesignTimeBuild/.dtbcache.v2
/.vs/ModelViewerEditor/v16/.suo
/ModelViewerEditor/.config/dotnet-tools.json
/.vs/ModelViewerEditor/config/applicationhost.config
