<ng-container *ngIf="!inEditMode">
    <h4>View hotspot</h4>
    <p *ngIf="text">{{text}}</p>
  <p *ngIf="!text"><span class="mat-caption">(no text)</span></p>
  <mat-divider></mat-divider>
  <div class="button-row" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-mini-fab color="warn" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="onMove()">
      <mat-icon>control_point</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="inEditMode">
  <h4>Edit hotspot</h4>

  <mat-form-field appearance="outline">
    <mat-label>Hotspot text</mat-label>
    <textarea [formControl]="editHotspotText" matInput></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-mini-fab color="" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="onSave()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</ng-container>
