<mat-toolbar class="breadcrumb">
  <span *ngIf="notFound">Model Editor</span>
  <span *ngIf="!section && !notFound">Loading...</span>
  <ng-container *ngIf="section">
    <span>Model Editor: <a [routerLink]="['/']">Projects</a></span>
    <span *ngIf="project"
      ><a [routerLink]="['/', 'project', project.id]">{{ project.name }}</a>
    </span>
    <span>{{ section ? section.name : " (not found)" }}</span>
  </ng-container>
</mat-toolbar>
<div class="container">
  <p *ngIf="notFound" class="mat-error">Not found</p>
  <ng-container *ngIf="section">
  <h2 class="mat-h2">{{ section.name }}</h2>
    <button (click)="onDeleteClick()">Delete Section</button>
  <app-list-models
    [project]="project"
    [section]="section"
    (modelAdded)="onModelAdded()"
  ></app-list-models>
</ng-container>

</div>
