
<ng-container *ngIf="section">
  <div class="control-bar">

    <button (click)="onRenameSection_click()" mat-button>
      Rename section
    </button>
    <button (click)="onDeleteClick()" mat-button>Delete section</button>

    <button (click)="onNewModel_click()" mat-button>
      Add model
    </button>
  </div>


  <div class="container">
    <mat-card>
      <mat-card-subtitle>
        Models
      </mat-card-subtitle>
      <mat-card-content>
        <mat-selection-list [multiple]="false" (selectionChange)="on_SelectionChange($event)">
          <mat-list-option *ngFor="let model of section.models" [value]="model.id">
            {{model.name}}
          </mat-list-option>
        </mat-selection-list>


      </mat-card-content>

    </mat-card>
   
  </div>

</ng-container>
