<mat-toolbar class="breadcrumb">
  <span>Model Editor: <a [routerLink]="['/']">Projects</a></span>
  <span *ngIf="project"><a [routerLink]="['/', 'project', project.id]">{{project.name}}</a> </span>
  <span>{{section ? section.name : ' (not found)'}}
  </span>
</mat-toolbar>
<div class="container">
  <p *ngIf="notFound" class="mat-error">Not found</p>
  <h2  *ngIf="section"class="mat-h2">{{section.name}}</h2>
  <app-list-models [project]="project" [section]="section" (modelAdded)="onModelAdded()"></app-list-models>
</div>
