.main {
  height: calc(100vh - 128px);
}

model-viewer {
  height: 100%;
  width: 100%;
  cursor: crosshair;
}

.model-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

mat-drawer {
  width: 300px;
  padding: 10px;
  .drawer-header {
  //  padding: 5px 10px;
  }

  .drawer-content {
    padding: 0 20px;
  }
}
mat-drawer-container {
  height: 100%;
}

.hotspot-button {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 1.5em;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 1.5em;

  .annotation {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    left: calc(100%);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
  }
}

mat-form-field {
  display: block;
}

.button-row {
  margin-top: 20px;
  text-align: center;
}

.hotspot-list-title{
    margin-bottom: 0;
}

