
<div class="screen-load-spinner" *ngIf="!glbVerified">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="glbVerified && model">
  <div class="control-bar" *ngIf="glbExists">

    <button (click)="onRenameModel_click()"
            mat-button
            [disabled]="addingHotspot || editingHotspot || movingHotspot">
      Rename model
    </button>
    <button (click)="onDelete_click()"
            mat-button
            [disabled]="addingHotspot || editingHotspot || movingHotspot">
      Delete model
    </button>
    <button (click)="onMoveModel_click()"
            mat-button
            [disabled]="addingHotspot || editingHotspot || movingHotspot"
            *ngIf="project.sections.length > 1" title="Relocate this model to a different section">
      Relocate model
    </button>
    <a mat-button [href]="modelSource" [download]="modelFileName()">Download model</a>
    <button (click)="onGetModelJson_click()"
            mat-button
            [disabled]="addingHotspot || editingHotspot || movingHotspot">
      Show Json
    </button>
    <button (click)="onNewHotspot_click()"
            mat-button
            [disabled]="addingHotspot || editingHotspot || movingHotspot">
      Add hotspot
    </button>
  </div>

  <div class="main" fxLayout="column">
    <app-file-upload [projectId]="project.id"
                     [sectionId]="section.id"
                     [modelId]="model.id"
                     *ngIf="!glbExists"
                     (uploaded)="onFileUploaded()"></app-file-upload>

    <mat-drawer-container *ngIf="glbExists" [hasBackdrop]="false">
      <mat-drawer mode="side" opened #drawer>
        <div *ngIf="!selectedHotspot && !addingHotspot">
          <h4>File details</h4>
          <span class="mat-caption">File name: </span>
            <span>
              {{model.originalFileName ? model.originalFileName : '(unspecified)'}}
            </span>         
        </div>
        <div *ngIf="!selectedHotspot && !addingHotspot">
          <h4>Orientation</h4>
          <app-model-viewer-info [viewer]="modelViewer"> </app-model-viewer-info>
        </div>

        <div *ngIf="model.hotspots.length && !addingHotspot && !selectedHotspot">
          <h4 class="hotspot-list-title">Hotspots</h4>
          <app-list-hotspots [model]="model" (selectHotspot)="onListSelectHotspot($event)" (goToHotspot)="onListGotoHotspot($event)"></app-list-hotspots>
        </div>


        <div *ngIf="addingHotspot">
          <h4>New hotspot</h4>
          <app-info-card text="Click on the model to select a location for the hotspot"></app-info-card>
          <div class="button-row">
            <button mat-flat-button color="accent" (click)="onCancelAddHotspot_click()">
              Cancel
            </button>
          </div>
        </div>

        <div *ngIf="selectedHotspot">
          <app-hotspot-form *ngIf="selectedHotspot"
                            (editing)="onHotspotEdit($event)"
                            (updated)="updateHotspotText($event)"
                            (deleting)="onHotspotDelete()"
                            (moving)="onHotspotMove($event)"
                            (deselect)="onHotspotDeselect()"
                            [hotspot]="selectedHotspot"
                            #hotspotForm></app-hotspot-form>
        </div>


      </mat-drawer>
      <mat-drawer-content>

        <div class="model-wrapper">
          <model-viewer [src]="modelSource"
                        (click)="onModelViewerClick($event)"
                        (load)="onModelViewerLoad()"
                        loading="eager"
                        field-of-view="auto"
                        interpolation-decay="100"
                        min-field-of-view="auto"
                        max-field-of-view="auto"
                        camera-controls
                        touch-action="none"
                        interaction-prompt="none"
                        #modelViewer>
            <ng-container *ngFor="let hotspot of model.hotspots; let i = index">
              <button *ngIf="hotspot.id !== movingHotspotId"
                      [attr.slot]="'hotspot-' + hotspot.id"
                      [attr.data-position]="hotspot.dataPosition"
                      [attr.data-normal]="hotspot.dataNormal"
                      class="hotspot-button"
                      [class.disabled]="addingHotspot || editingHotspot || movingHotspot"
                      [class.selected]="selectedHotspot === hotspot"
                      (click)="onHotspotSelect(hotspot)">
                <span *ngIf="hotspot.text" class="annotation">{{ hotspot.text }}</span>
              </button>

            </ng-container>

          </model-viewer>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>

  </div>
</ng-container>
