<div class="main" fxLayout="column">
  <div>
    <mat-toolbar class="breadcrumb">
      <span *ngIf="notFound">Model Editor</span>
      <span *ngIf="!model && !notFound">Loading...</span>

      <ng-container *ngIf="model">
        <span>Model Editor: <a [routerLink]="['/']">Projects</a></span>
        <span *ngIf="project"
          ><a [routerLink]="['/', 'project', project.id]">{{ project.name }}</a>
        </span>
        <span *ngIf="section"
          ><a [routerLink]="['/', 'project', project.id, section.id]">{{
            section.name
          }}</a>
        </span>
        <span>{{ model ? model.name : " (not found)" }} </span>
      </ng-container>
    </mat-toolbar>
  </div>
  <div class="wrapper" fxLayout="column">
    <p *ngIf="notFound" class="mat-error">Not found</p>
    <div *ngIf="model" class="control-bar">
      <button (click)="onDelete_click()" mat-raised-button>Delete Model</button>
    </div>

    <div *ngIf="model" fxLayout="row"  class="wrapper">
      <div fxFlex="300px" class="sidebar">
        <div class="sidebar-header">
          <h3>Hotspots</h3>
          <span class="spacer"></span>
          <span>
            <button (click)="onNewHotspot_click()"  mat-icon-button color="primary">
            <mat-icon>add_circle</mat-icon>
          </button>
          </span></div>
        <app-list-hotspots
          [model]="model"
          (hotspotSelect)="onHotspotSelect($event)"
        ></app-list-hotspots>
        <app-file-upload
          [projectId]="project.id"
          [sectionId]="section.id"
          [modelId]="model.id"
          *ngIf="!glbExists"
          (upload)="onFileUpload()"
        ></app-file-upload>
      </div>
      <div fxFlex="100">
        <model-viewer
          [src]="modelSource"
          loading="eager"
          field-of-view="auto"
          interpolation-decay="100"
          loading="eager"
          min-field-of-view="auto"
          max-field-of-view="auto"
          camera-controls
          touch-action="none"
          #modelViewer
        >
        </model-viewer>
      </div>
    </div>
  </div>
</div>
