
  <div class="uploading-message" *ngIf="uploading">
    <p>Uploading...</p>
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <ngx-file-drop *ngIf="!(uploading)" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <p>Drag a GLB here</p>
      <p> <button type="button" mat-flat-button (click)="openFileSelector()">Browse</button></p>

    </ng-template>
  </ngx-file-drop>
  <!--  <div class="upload-table">-->
  <!--    <table class="table">-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th>Name</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody class="upload-name-style">-->
  <!--      <tr *ngFor="let item of files; let i=index">-->
  <!--        <td><strong>{{ item.relativePath }}</strong></td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->

