ngx-file-drop{
  display: block;
  margin: 50px auto;
  width: 600px;
}
.uploading-message {
  display: block;
  margin: 50px auto;
  width: 600px;
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}
