/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px;
}

.control-bar {
  padding: 10px 20px;
  //border-bottom: 1px solid #999;

  button{
    margin-right: 20px;
  }
}

/* Coerce the <span> icon container away from display:inline */
.mat-mini-fab .mat-button-wrapper {
  display: flex !important;
  justify-content: center;
}


.screen-load-spinner {
  mat-spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
  }
}
